<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Client info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
<!--page header-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" id="root_link" href="/">Root</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="filmsList_link" href="/filmsList">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="clientsList_link" href="/clientsList">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="orderAdd_link" href="/orderAdd">Add an order</a>
            </li>
        </ul>
        <a class="btn btn-info" role="button" href="https://fbk.info/donate">Donate</a>
    </div>
</nav>
<!--end of page header-->

<div class="indent">
    <div id="clientInfo_text">
        <p th:text="'Client id: ' + ${client.getClient_id()}"></p>
        <p th:text="'Client name: ' + ${client.getClient_name()}"></p>
        <p th:text="'Phone: ' + ${client.getPhone()}"></p>
        <p th:text="'Client is removed: ' + ${client.getClient_is_removed()}"></p>
    </div>

    <!--edit delete order button group-->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form method="post" action="/clientAdd">
                <input type="hidden" name="client_id" th:value="${client.getClient_id()}"/>
                <button id="edit_button" type="submit" class="btn btn-secondary">Edit client info</button>
            </form>
            <form method="post" action="/clientDelete">
                <input type="hidden" name="client_id" th:value="${client.getClient_id()}"/>
                <button id="delete_button" type="submit" class="btn btn-secondary">Delete client</button>
            </form>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <form method="get" action="/orderAdd">
                <input type="hidden" name="client_id" th:value="${client.getClient_id()}"/>
                <button type="submit" class="btn btn-secondary" style="background-color: darkred">Order for this
                    client
                </button>
            </form>
        </div>
    </div>
    <!--end of button group-->

    <br>
    <form method="get" action="">
        <input type="hidden" name="client_id" th:value="${client.getClient_id()}"/>

        <label for="issue_date_from">Issue date from:</label>
        <input type="date" id="issue_date_from" name="issue_date_from"><br><br>

        <label for="issue_date_to">Issue date to:</label>
        <input type="date" id="issue_date_to" name="issue_date_to"><br><br>

        <button type="submit" class="btn btn-primary">Search orders</button>
    </form>
    Orders shown with issue date from
    <b><span th:text="${issue_date_from}"></span></b> to
    <b><span th:text="${issue_date_to}"></span></b>:
    <br>

    <!--order table-->
    <table id="clientOrder_table">
        <thead>
        <tr>
            <th> Issue date</th>
            <th> Return date</th>
            <th> Film name</th>
            <th> Medium</th>
            <th> Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${orders.empty}">
            <td colspan="6"> No orders here</td>
        </tr>
        <tr th:each="order : ${orders}">
            <td><span th:text="${order.getFilm_issue_date()}"> </span></td>

            <td th:if="${order.getFilm_return_date() == null}">
                <a id="returnOrder_link" th:href="'/order?return=true&order_id=' + ${order.getOrder_id()}">
                    return now </a></td>
            <td th:if="${order.getFilm_return_date() != null}">
                <span th:text="${order.getFilm_return_date()}"> </span></td>

            <td><a th:href="'/film?film_id=' + ${order.getFilm().getFilm_id()}">
                <span th:text="${order.getFilm().getFilm_name()}"> </span> </a></td>
            <td><span th:text="${order.getMedium()}"> </span></td>
            <td><span th:text="${order.getPrice()}"> </span></td>
        </tr>
        </tbody>
    </table>
    <!--end of order table-->

</div>

<!--for bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!--end for bootstrap-->
</body>
</html>
