<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Film add</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!--page header-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" id="root_link" href="/">Root</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="filmsList_link" href="/filmsList">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="clientsList_link" href="/clientsList">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="orderAdd_link" href="/orderAdd">Add an order</a>
            </li>
        </ul>
        <a class="btn btn-info" role="button" href="https://fbk.info/donate" >Donate</a>
    </div>
</nav>
<!--end of page header-->

<form action="/filmSave" method="post">
    <input type="hidden" name="film_id" th:value="${film.getFilm_id()}" />

    <label for="film_name">Film name:</label>
    <input type="text" id="film_name" name="film_name" required th:value="${film.getFilm_name()}"><br><br>

    <label for="producer">Producer:</label>
    <input type="text" id="producer" name="producer" required th:value="${film.getProducer()}"><br><br>

    <label for="release_year">Release year:</label>
    <input type="number" id="release_year" name="release_year" required th:value="${film.getRelease_year()}"><br><br>

    <label for="cassette_total_number">Cassette total number:</label>
    <input type="number" id="cassette_total_number" name="cassette_total_number" required th:value="${film.getCassette_total_number()}"><br><br>

    <label for="disc_total_number">Disc total number</label>
    <input type="number" id="disc_total_number" name="disc_total_number" required th:value="${film.getDisc_total_number()}"><br><br>

    <label for="cassette_price">Cassette price:</label>
    <input type="number" id="cassette_price" name="cassette_price" required th:value="${film.getCassette_price()}"><br><br>

    <label for="disk_price">Disk price:</label>
    <input type="number" id="disk_price" name="disk_price" required th:value="${film.getDisk_price()}"><br><br>

    <input id="submit_button" type="submit" value="Submit">
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>