<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!-- Background image -->
<!--<div style="background: url('./src/main/resources/images/index_background.jpg'); height: 100vh">-->
<!-- Background image -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" id="filmsList_link" href="/filmsList">Films</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="clientsList_link" href="/clientsList">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="orderAdd_link" href="/orderAdd">Add an order</a>
            </li>
        </ul>

        <a class="btn btn-info" role="button" href="https://fbk.info/donate" >Donate</a>
    </div>
</nav>

<div>
    We are the best video rental service in the world.
    <br>
    Choose a movie for yourself from our huge collection.
    <br>
    2021, Moscow
    <br>
    © Все права защищены
</div>

</body>
</html>
